.button {
    display: flex;
    justify-content: center;
    margin:   10px 50px;
    text-decoration: none;
   padding: 15px 25px;
  
  }
  .btn{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
  }
  
.button a{
  background-color:#005dca;
  margin: 0 10px;
}
.button a:hover{
    background-color: #061f8b;
}


.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px; /*Ajusta el margen superior según tus necesidades*/
}
  h2{
    text-align: center;
    font-size: 2rem;
  } 
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #005dca;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px 0;
  transition: background-color 0.3s;
  cursor:pointer;
}
.btn:hover {
  background-color: #061f8b;
}


h1{
  text-align: center;
}

#atras{
  margin-top: 150px;
}

#botondescarga{
  cursor: pointer;
}

#botondescarga:hover{
  background-color: #061f8b;
}

#quitar {
  position: absolute;
  left: 0;
  margin-left: 10px; /* Ajusta este valor según tus necesidades */
}