/* .creditos{
    color: white;
    text-align: center;
    font-size: 0.875em;
} */

/* body {
    margin: 0;
    padding: 0;
  } */
  
  .content {
    padding: 20px;
  }
  
  .footer {
    /* margin-top: 300px; */
    text-align: center;
    padding: 20px;
    background-color: #005dca;
  }
  p{
    color: white;
  }

  /* footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
} */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}
.texto{
  padding: 5px 0;
}